{% extends "main/base.html" %}

{% block content %}

<div class="container">

    {% for post in posts %}
    <div class="border col-8 mx-auto mb-3">

    <h3 class="mb-0 px-2 py-1"><a class="text-dark" href="{% url 'main:comments' post.pk %}">{{post.topic}}</a></h3>
    <div class="px-2 pb-1 mb-1 text-muted">{{post.pub_date}}</div>
    <p class="mb-auto p-2">{{post.content}}</p>
    <a href="{% url 'user:index' post.creator.pk %}" class="p-2">{{post.creator}}</a>
    </div>
{% endfor %}

</div>

{% endblock %}